/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Questrial&display=swap');

.description-text {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1A100B;
}
.title-text {
    font-family: "Questrial", serif;
    font-weight: 400;
    font-style: normal;
    color: #1A100B;
}


/* html */
* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* navigation */
.navbar {
    background-color: #f2f0ee;
}


/* hero section */
.section-hero {
    background-color: #f2f0ee;
    padding-bottom: 3rem;
    overflow: hidden;
}

.container-hero {
    max-width: 65rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.featured-text {
    background-color: #ffffff;
    border-radius: 2.25rem;
    flex: 0 0 50%;
    width: 100%;
    align-items: stretch;
    padding: 6.5rem 2rem 6.5rem 2rem;
}

.featuredName {
    font-size: 4rem;
    /* 2rem kapag mobile */
    line-height: 4rem;
}

.featuredInfo {
    font-size: 1rem;
}

.social_icons {
    display: flex;
    margin-top: 1.5rem;
    gap: 1.25rem;
}

.icon1,
.icon2,
.icon3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.688rem;
    cursor: pointer;
}

.icon1 {
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.icon2 {
    background: #3b5998;
}

.icon3 {
    background: #171515;
}
.profileImg {
    width: 100%;
    border-radius: 2.25rem;
}
.skills {
    text-transform: uppercase;
    font-size: 1rem;
}
.skills-info {
    font-size: 2.5rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.marquee {
    overflow: hidden;
    white-space: nowrap;
}
.marquee:hover .marquee-content {
    animation-play-state: paused;
}
.marquee-content {
    display: inline-block;
    animation: 40s slide infinite linear;
}
.marquee-content img {
    height: 5rem;
    margin: 0 1.5rem;
}
