html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

input::placeholder {
  color: #aaa;
}