html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}


/* DESIGNS */
.vertical-line {
    width: 7px;
    height: 220px;
    background-color: #F96E2A;
    margin-right: 24px;
    margin-left: -12px;
}

.header-bg {
    margin-top: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    width: auto;
}

.text-content h1 {
    font-size: 2.0em;
    font-weight: bold;
}

.text-content h1 span {
    font-size: 3em;
    font-weight: bold;
}

.text-content p {
    font-size: 1em;
    margin: 5px 0 0;
}

.btn {
    color: #F96E2A;
    border-color: #F96E2A;
}
.btn:hover {
    background-color: #F96E2A;
    border-color: #F96E2A;
}